<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.supercc.feishu</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>-m</string>
        <string>supercc.plugin.feishu</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SUPERCC_CONFIG</key>
        <string>${HOME}/.supercc/config.json</string>
        <key>SUPERCC_DATA</key>
        <string>${HOME}/.supercc</string>
    </dict>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>${HOME}/.supercc/launchd-feishu.out.log</string>
    <key>StandardErrorPath</key>
    <string>${HOME}/.supercc/launchd-feishu.err.log</string>
</dict>
</plist>